$menu-padding: 20px;
$menu-background-hover: rgba(255, 255, 255, 0.2);
$menu-text-color-hover: #48801b;
$menu-indent: 5rem;

.menu-category {
  list-style: none;

  &__dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $menu-padding 0;
    cursor: pointer;
    transition: background-color 0.7s, color 0.5s;

    &:hover {
      background-color: $menu-background-hover;
      span{
        color: $menu-text-color-hover;
      }
    }
    .arrow-transition {
      transition: transform 0.3s ease-in-out;
      margin-right: 20px;
    }

    .rotated {
      transform: rotate(180deg);
    }

    span {
      color: white;
      text-decoration: none;
      flex-grow: 1;
      padding-left: 2.5rem;
      display: block;
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
    }
    
  }

  &__item {
    //padding: 18px 0;
    //padding-left: $menu-indent;
   

    // &:hover {
    //   background-color: $menu-background-hover;
    //   transition: background-color 0.9;
    //   > a {
    //     color: $menu-text-color-hover;
    //   }
    // }

    // > a {
    //   color: white;
    //   text-decoration: none;
    //   display: block;
    //   font-weight: 400;
    //   font-size: 1rem;
    //   line-height: 1.25rem;
    // }
  }

  &__sub-category {
    background-color: rgba(255, 255, 255, 0.1);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    padding-left: 0;

    &.open {
      max-height: 500px;
      opacity: 1;
    }
    span{
      font-weight: 400;
      font-size: 14px;
      padding-left: 4.5rem;
      line-height: 20px;
    }
    .menu-category {
    &__sub-category{
      span{
        font-weight: 400;
        font-size: 14px;
        padding-left: 8rem;
        line-height: 20px;
      }
    }
  }

     ul {
    //   list-style: none;
    //   padding-left: 0;

    //   li {
    //     &:hover {
    //       background-color: $menu-background-hover;
    //     }

    //     > a {
    //       padding-left: $menu-indent; /* Ajouté pour aligner le texte des liens */
    //       color: white;
    //       text-decoration: none;
    //       display: block;
    //       font-weight: 400;
    //       font-size: 1rem;
    //       line-height: 1.25rem;
    //     }
    //   }
     }
  }
}
