@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.home-container {
  position: relative;
  height: 100vh;
  overflow: hidden;

  // Texte sur images
  .slide-content {
    position: relative;
    height: 100vh;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }

    .background-image {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
    }
    .slide-info {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      z-index: 2;

      h2 {
        font-size: 24px;
        margin-bottom: 15px;
      }

      p {
        font-size: 16px;
        margin-bottom: 20px;
      }

      .learn-more-btn {
        padding: 10px 15px;
        background-color: #48801b;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;

        &:hover {
          background-color: #335a13;
        }
      }
    }
  }
  // Barre de progression
  .progress-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;

    .progress-section {
      flex: 1;
      margin: 0 1px;
      position: relative;

      .progress-title {
        position: absolute;
        top: -25px;
        left: 10px;
        right: 0;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
      }
      .progress-bar {
        height: 100%;
        width: 0;
        background-color: #bdc3c7;
        transition: width 100ms linear;
      }
    }

    .progress-section .progress-bar.active {
      background-color: #48801b;
    }
  }
  // Btn suivant precedent
  .slick-prev,
  .slick-next {
    top: 45%;
    z-index: 10;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.3s ease;
    &:hover {
      color: #ffffff;
    }
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }
}
