.sidebar {
    width: 250px;
    height: calc(100vh - 4.35rem);
    margin-top: 0;  // Ajoutez cette ligne
    background-color: #06163A;
    color: white;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: relative;  // Modifiez cette ligne

    a {
        display: block;  /* Chaque lien prend toute la largeur disponible */
        padding: 10px 20px;  /* Espace autour des liens */
        color: white;  /* Couleur du lien blanc */
        text-decoration: none;  /* Pas de soulignement */
        transition: background-color 0.3s;  /* Transition douce pour l'effet hover */
        margin-bottom: 20px;  // Espacement entre les liens

        .fa-icon {  // Classe que nous allons ajouter à l'élément FontAwesomeIcon
            margin-right: 15px;
        }
    a.active{
        background-color: #f39c12 !important;
    }
        &.active-link {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 3px;
                height: 100%;
                background-color: #f39c12;
            }
        }

        &:hover {
            background-color: #34495e;
        }
    }
}
