.user-table-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2em 2em 0.5em 2em;
  margin-bottom: 1em;
  max-width: 100%;
  margin: 0 auto;
  max-height: 100vh;
  overflow-y: auto;
  font-size: 0.85em; /* TAILLE POLICE TABLEAU */

}
.user-table-title {
  position: relative;
  align-items: center;
  color: #0d2868;
}
// 06163A

.underline {
  width: 100%;
  height: 2px; /* Épaisseur de la barre */
  background-color: #0d2868;
  margin-top: 0px; /* Ajustez selon votre préférence */
  margin-bottom: 20px; /* Ajustez selon votre préférence */
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.search-add-wrapper {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  margin-bottom: 2em;
  height: 40px; 
}

.search-add-wrapper .search-input {
  flex-grow: 1;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #EDF5F8;
}

.search-add-wrapper .search-input input {
  border: none;
  outline: none;
  width: 100%; // La barre de recherche occupe tout l'espace disponible.
  padding-right: 30px; // Pour éviter que le texte n'aille sous l'icône
  background-color: #EDF5F8;
  vertical-align: middle;  
}

.search-add-wrapper .search-input svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: grey;
  margin-left: 10px;
}

.search-add-wrapper button {
  background-color: #50C878; // change la couleur de fond du bouton
  color: white; // change la couleur du texte du bouton
  border: none; // retire le bord du bouton
  margin-left: 4em;
  font-size: 1em;   /* TAILLE BTN AJOUTER */
 // padding: 5px 8px; 
  &:hover {
    background-color: darken(#50C878, 10%);
  }
  &:active {
   background-color: darken(#50C878, 20%) !important;
  }
 
}


.user-table {
  border-collapse: separate;
  border-spacing: 0;

  th,
  td {
    border-right: none ;
    border-left: none ;
    border-bottom: 1px solid #dddddd ;
    vertical-align: middle;   

  }
  td{
    line-height: 1.2; /* réduire l'espace entre les lignes */
    padding-top: 5px; /* réduire l'espace au-dessus du texte */
    padding-bottom: 5px; /* réduire l'espace sous le texte */
  }
  
  thead th {
    background-color: #EDF5F8 ;
    color: #000000 ; // Couleur du texte des en-têtes de colonnes
  }
}
.action-buttons {
  display: flex;
  justify-content: flex-start; 

  button {
    font-size: 0.8em;
    padding: 4px 8px;
  }

  button:nth-child(2) {
    margin-left: 20px;
  }
}
.pagination-wrapper{
  color: #888888;
}
.pagination-wrapper .pagination li a, .pagination-wrapper .pagination li span {
  font-size: 1em;
  padding: 4px 10px; /* Augmentez le padding pour espacer les chiffres */
  margin: 0 10px; /* Augmentez la marge pour espacer les boutons */
  background-color: transparent; 
  border: none;
  color: #888888;
  border-radius: 50%;
  outline: none; /* Supprimez le contour lors du focus */
}

.pagination-wrapper .pagination li.active a, .pagination-wrapper .pagination li.active span {
  background-color: #e6e6e6;
  border: none;
  color: black;
  outline: none; /* Supprimez le contour lors du focus */
}

.pagination-wrapper .pagination li:hover a, .pagination-wrapper .pagination li:hover span {
  background-color: #e6e6e6;
  color: black;
}

.pagination-wrapper .pagination {
  margin-bottom: 0;
}
.pagination-wrapper .pagination li a:focus, 
.pagination-wrapper .pagination li span:focus {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}





