@import './../../scss/_variable.scss';

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.5s ease;

    &.scrolled {
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, .3);
        background-image: linear-gradient(90deg, #48801b, #48801b);
    }

    a, span, svg {
        color: white !important; 
    }

    .navbar {
        margin: auto;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .left-menu, .center-menu, .right-menu {
            display: flex;
            align-items: center;
        }
        .left-menu{
            .cursor-pointer {
                cursor: pointer;
            }
        }
        .center-menu {
            justify-content: center;
            flex-grow: 1;
        }

        .navbar-logo {
            height: 50px;    
            width: auto; 
        }
    }
}

.side-menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: #333;
    transition: left 0.3s;
    z-index: 2000;
    background-color: #48801B;

    &.open {
        left: 0;
    }
    .menu-header {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.2);

        .menu-title {
            color: white;
            font-weight: bold;
        }

        .close-menu-icon {
            cursor: pointer;
            color: white;
            font-size: 20px;
        }
    }

    .menu-list {
        list-style: none;
        padding-left: 0;

        li {
            position: relative;
            .menu-item-container, .submenu li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: transparent;
                transition: background-color 0.3s;
                padding: 10px 20px; 
                cursor: pointer;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.3);  // blanc transparent
                    a, span {
                        color: #48801B;
                        text-decoration: none !important; // assurez-vous qu'il n'y a pas de soulignement
                    }
                }
            }

            a {
                color: white;
                text-decoration: none;
                flex-grow: 1; 

                &:hover {
                    text-decoration: none;
                }
            }

            .arrow {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &.expandable {
                .arrow {
                    cursor: pointer;
                    transition: transform 0.3s;
                }

                &.expanded {
                    .arrow {
                        transform: rotate(180deg);
                    }
                }
            }

            .submenu {
                display: none; // cachez-le par défaut
                list-style: none;
                padding-left: 20px;

                &.open {
                    display: block; // affichez-le lorsque la classe open est ajoutée
                }

                li {
                    padding: 5px 0;
                }
            }

            a {
                color: white;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1500; 
}

.right-menu {
    display: flex;
    gap: 2rem;

    .btn {
        background-color: $bglight-color;
        padding: 0.6rem 2rem;
        cursor: pointer;
        border-radius: 0.4rem;

        &.btn-dark {
            color: $bg-color;
            background-color: $seconday-color;
        }

        &.btn-icon {
            display: flex;
            padding: .75rem 1.25rem;
            gap: .4rem;
            align-items: center;
        }
    }
}
